@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chewy&family=Courier+Prime:ital,wght@0,400;0,700;1,400&family=Fira+Sans:ital,wght@0,400;0,700;1,100&family=Kalam:wght@300;400;700&family=Merriweather:ital,wght@0,400;0,700;1,300&family=Patrick+Hand&display=swap');

/*font family for font section*/
/*font-family: 'Boogaloo', cursive;
font-family: 'Chewy', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Fira Sans', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Merriweather', serif;
font-family: 'Patrick Hand', cursive;*/